.container {
    display: inline-grid;
    grid-template-columns: 20% 80%;
    
    /* padding-right: 2%; */
}

@media only screen and (max-width: 800px){
    .container{
        grid-template-columns: 0 100%;
    }
    .left-div{
        display: flex;
        visibility: collapse;
    }
}

.left-div {
    border: 1px solid black;
    padding-left: 5%;
    background-color: rgb(46, 46, 46);

}

.right-div {
    position: relative;
    overflow-y: scroll;
    height: 98vh;
    border: 1px solid black;
    padding-left: 2%;
}

.topic-header {
    
    padding-top: 5%;
    color:white;
}

.secondary-list {
    margin-left: 5%;
}

.comment {
    color: rgb(37, 145, 37);
}

.keyword {
    color: rgb(15, 15, 189);
}

.string {
    color: rgb(214, 92, 21);
}

.header{
    width:100%;
/*     margin-left: 1%;
    margin-right: 2%; */
    border: 1px solid black;
    text-align: center;
    background-color:rgb(91, 224, 224);
    font-family: 'Roboto Condensed', sans-serif;
    padding-top: 7px;
}

#Introduction,#Heapify,#heapsort{
    font-size: 20px;
}

img{
    display: block;
   height: 450px;
   width: 70%;
}

.array{
    height: 150px;
    width: 70%;
}

hr{
    height: 1px;
    width: 100%;
}

a{
    font-size: 18px;
    text-decoration: none;
}
